/* STYLES GENERAUX  */
* {
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

/* NAVIGATION */
.navigation {
    background-color: #eaeaea;
    border-bottom: 1px solid #bebebe;
    height: auto;
}
.navigation__list,
.navigation__sublist {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.navigation__list {
    margin: auto;
    position: relative;
    width: 100%;
}
.navigation__sublist {
    background-color: #8e8e8e;
    font-size: 12px;
    height: auto;
}
.navigation__list_item:hover > .navigation__sublist {
    display: block;
}
.navigation__list_item,
.navigation__sublist_item {
    background-color: transparent;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    transition: 0.3s;
}
.navigation__list_item:hover,
.navigation__sublist_item:hover {
    background-color: #acacac;
    color: #fff;
}
.navigation__list_link,
.navigation__sublist_link {
    align-items: center;
    color: #000;
    cursor: pointer;
    display: flex;
    font-weight: bold;
    height: 100%;
    justify-content: center;
    text-decoration: none;
    transition: 0.3s;
    width: 100%;
}
.navigation__sublist_link {
    color: #fff;
}
.navigation__sublist_link {
    padding: 10px 56px;
}
.navigation__list_link:hover {
    color: #fff;
}
.navigation__sublist_link:hover {
    color: #000;
}

/* SECTION AVEC ARTICLES  */
.section {
    background-color: #fbfbfb;
}
.section__container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding: 75px 0;
    width: 100%;
}
.section__article {
    margin-bottom: 20px;
    padding: 0 45px;
    text-align: center;
    width: 100%;
}
.section__article_img {
    height: 120px;
    transform: translate(0, 0);
    transition: 0.3s;
}
.section__article:hover .section__article_img {
    transform: translate(0, -10px);
}
.section__article_title {
    color: #514abf;
    font-size: 24px;
}
.section__article_para {
    font-size: 12px;
}

/* RESPONSIVE  */
@media (min-width: 720px) {
    .navigation {
        height: 60px;
        margin-bottom: 200px;
    }
    .navigation__list {
        align-items: center;
        display: flex;
    }
    .navigation__sublist {
        display: none;
        left: 0;
        position: absolute;
        top: 100%;
    }
    .navigation__list,
    .navigation__sublist {
        flex-direction: row;
    }
    .section__article {
        margin-bottom: 0;
        padding: 0 50px;
        width: calc(100% / 2);
    }
}
@media (min-width: 940px) {
    .navigation__list,
    .section__container {
        width: 900px;
    }
    .section__article {
        width: calc(100% / 3);
    }
}
@media (min-width: 1440px) {
    .navigation__list,
    .section__container {
        width: 1200px;
    }
    .section__article {
        padding: 0 75px;
    }
}